.city-container {
	width: 40%;
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 0px 16px -5px rgba(0,0,0,0.75);
	border-radius: 20px;
}

.city-wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;

}

.city-main {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}

.city-weather-pic {
	height: 150px;
}

.city-description {
	font-weight: bold;
	font-style: italic;
	font-size: 1.2em;
}

.city-weather-block {
	padding: 10px;
	height: 100px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.city-other {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}