.weather-wrapper {
	width: 25%;
	height: 250px;
	border: 2px solid black;
	border-radius: 10px;
	padding: 10px;
	box-shadow: 0px 0px 16px -5px rgba(0,0,0,0.75);
	margin: 20px;
}

.weather-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.weather-title {
	font-size: 1.5em;
	font-weight: bold;
}

.weather-main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.weather-icons {
	width: 30%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.weather-icons {
	cursor: pointer;
}

.weather-pic {
	width: 70px;
}

.weather-description {
	font-style: italic;
	font-weight: bold;
}

.weather-details {
	margin-top: 10px;
	padding: 10px;
	border-radius: 5px;
	text-decoration: none;
	color: black;
	background-color: #95C3ED;
}

.weather-details:hover {
	box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.75)
}