.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-container {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
	padding: 10px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}