.add-wrapper {
	width: 25%;
	height: 250px;
	border: 2px solid black;
	border-radius: 10px;
	padding: 10px;
	box-shadow: 0px 0px 16px -5px rgba(0,0,0,0.75);
	margin: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.add-city-list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.add-wrapper ul {
	width: 60%;
	text-align: center;
}

.red {
	color: red;
	cursor: pointer;
}

.city-item {
	margin: 10px;
	cursor: pointer;
}

.city-item:hover {
	transform: scale(1.1);
	font-weight: bold;
}

.city-input {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.city-input-field {
	width: 50%;
}